.city{
    margin: 20px;
    margin-top: 70px;
}

.calend{
    margin-bottom: 30px;
}

.graph{
    /* margin: 0 auto; */
    margin: 10%;
}

.box {
    /* margin-top: 25px;
    line-height: 1.45; */
    width: 100%;
    display: flex;
    justify-content: center;
    
    /* background-color: gold; */
    /* padding: 4px; */
  }
  
  .child {
    /* background-color: #444;
    color: #999; */
    text-align: center;
    /* width: 50px;
    height: 50px;*/
    margin: 10px;
    /* line-height: 50px;
    font-weight: 700;  */
  }