
.tabStyle {
    font-size: 1em;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    color: #01b7f2;
    background-color: #d9d9d9;
}

    .tabStyle .nav-link:hover {
        background-color: #01b7f2;
    }


    .imagediv
    {
        color: #01b7f2;
        
    }

    .skin-color
    {
        color: #01b7f2;
    }
    .date-capitalize {
        text-transform: capitalize;
    }

     li {
        list-style: none;
        color:#838383;
        margin-left: 10px;
    }

    .CardImg {
        
        border-radius:10px;
        margin:5px;
    }
    .iconColor
    {
        color: black;
    }

    .CardTitle {
        color: #4D4B7F;

    }

    .CardSubTitle {
        margin:-10px 0px 10px 0px;
        
    }

    .Heart{
        position:absolute;
        top:15px;
        right: 20px;
        color:#FFF
    }

    .discount {
        position: absolute;
        top: 10px;
        left: 25px;
        z-index: 10;
        background: #E91E63;
        padding: 3px 5px;
        color: #fff;
        border-radius: 3px;
        font-size: 14px;
    }

    .buttonHotel{
        background: #ff9000;
        color:#FFF;
        font-weight: bold;
        border: none;
        cursor: pointer;
        width: 80% !important;
        padding-left: 10;
        padding-right: 10;
        position: absolute;
        bottom: 10px;
    }
    .price-block {
        text-align:center;
        margin-right: 30px;
        margin-top: 15px;
    }   

    .price{
        color: #7db921;
        font-size: 1.6667em;
        text-transform: uppercase;
        float: center;
        text-align: center;
        line-height: 1;
        display: block;
    }



   